# Models
models/
*.tar.gz

# data
action_data/
data
enigma.pkl

# events
rasa.*
events.*

# __pycache__
__pycache__/

# jupyter notebook
.ipynb_checkpoints/

credentials.yml
docker-compose.yml
docker-compose.override.yml
