# Models
models/
*.tar.gz

# Action data
action_data/

# events
rasa.*
events.*

# __pycache__
__pycache__/

# jupyter notebook
.ipynb_checkpoints/

credentials.yml
docker-compose.yml
docker-compose.override.yml
